#results {
    border: 2px solid red;
}

#results div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 2px dotted orange;
}

#submit {
    border: 2px solid blue;
}

#results div p{
    border: 2px solid rgb(46, 241, 46);
}
