#quiz {
    border: 2px solid red;
}

#quiz div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 2px dotted orange;
}

#submit {
    border: 2px solid blue;
}

#quiz div p{
    border: 2px solid rgb(46, 241, 46);
}

#results {
    display: flex;
    align-items: flex-start;
    border: 2px solid rgb(226, 7, 255);
}